/*
===============================================================================
 This file contain extra CSS rules to customize the YunoHost user portal and
 can be used to customize app tiles, buttons, etc...
===============================================================================
*/

body {
    background: #2e3440 !important;    
    color : #d8dee9 !important;
}

.messages.danger { background: #bf616a; }
.messages.warning { background: #d08770; }
.messages.success { background: #a3be8c; }
.messages.info { background: #5e81ac; }

input{   
    background-color: #3b4252 !important;
    color : #d8dee9 !important;
}

.login-form label:before
{
    background-color: #3b4252 !important;
    color : #d8dee9 !important;
}

.btn:hover
{
    background-color: #a3be8c !important;
    color : #3b4252 !important;
}

.ynh-wrapper.footer a:before {
    color: #5e81ac !important;
}

.ynh-wrapper.footer nav {
    border-color: #5e81ac !important;
}

a.user-container, .ynh-wrapper.footer a{   
    color : #d8dee9 !important;
}
a.user-container:hover, .ynh-wrapper.footer a:hover{   
    color : #d8dee9  !important;
}

#ynh-logout:hover
{
    color : #d8dee9!important;
}

.bluebg {
    background: #81a1c1!important;
}
.bluebg:hover:after,
.bluebg:focus:after,
.bluebg:hover:before,
.bluebg:focus:before {
    background: #07090C!important;
}

.purplebg {
    background: #b48ead!important;
}
.purplebg:hover:after,
.purplebg:focus:after,
.purplebg:hover:before,
.purplebg:focus:before {
    background: #07090C!important;
}

.redbg {
    background: #bf616a!important;
}
.redbg:hover:after,
.redbg:focus:after,
.redbg:hover:before,
.redbg:focus:before {
    background: #07090C!important;
}

.orangebg {
    background: #d08770!important;
}
.orangebg:hover:after,
.orangebg:focus:after,
.orangebg:hover:before,
.orangebg:focus:before {
    background: #07090C!important;
}

.greenbg {
    background: #a3be8c!important;
}
.greenbg:hover:after,
.greenbg:focus:after,
.greenbg:hover:before,
.greenbg:focus:before {
    background: #07090C!important;
}

.darkbluebg {
    background: #5e81ac!important;
}
.darkbluebg:hover:after,
.darkbluebg:focus:after,
.darkbluebg:hover:before,
.darkbluebg:focus:before {
    background: #07090C!important;
}

.lightbluebg {
    background: #81a1c1!important;
}
.lightbluebg:hover:after,
.lightbluebg:focus:after,
.lightbluebg:hover:before,
.lightbluebg:focus:before {
    background: #07090C!important;
}

.yellowbg {
    background: #ebcb8b!important;
}
.yellowbg:hover:after,
.yellowbg:focus:after,
.yellowbg:hover:before,
.yellowbg:focus:before {
    background: #07090C!important;
}


.lightpinkbg {
    background: #b48ead!important;
}
.lightpinkbg:hover:after,
.lightpinkbg:focus:after,
.lightpinkbg:hover:before,
.lightpinkbg:focus:before {
    background: #07090C!important;
}

/* Following colors are not used yet */
.pinkbg {
    background: #b48ead!important;
}
.pinkbg:hover:after,
.pinkbg:focus:after,
.pinkbg:hover:before,
.pinkbg:focus:before {
    background: #07090C!important;
}

.turquoisebg {
    background: #88c0d0!important;
}
.turquoisebg:hover:after,
.turquoisebg:focus:after,
.turquoisebg:hover:before,
.turquoisebg:focus:before {
    background: #07090C!important;
}
.lightyellow {
    background: #ebcb8b!important;
}
.lightyellow:hover:after,
.lightyellow:focus:after,
.lightyellow:hover:before,
.lightyellow:focus:before {
    background: #07090C!important;
}
.lightgreen {
    background: #a3be8c!important;
}
.lightgreen:hover:after,
.lightgreen:focus:after,
.lightgreen:hover:before,
.lightgreen:focus:before {
    background: #07090C!important;
}
.purpledarkbg {
    background: #b48ead!important;
}
.purpledarkbg:hover:after,
.purpledarkbg:focus:after,
.purpledarkbg:hover:before,
.purpledarkbg:focus:before {
    background: #07090C!important;
}

